/**
	****** Ui Components - utton model ************************************************
	**/
	
	#page .content button {
	border:none;
	background:transparent;
	overflow:hidden;
	padding:0px;
}
.button:link {
	color:#8d8b8b;
}
.button:visited {
	color:#8d8b8b;
}
.button:hover {
	background: url("../../image/ui/button_default.png") repeat-x center -24px;
	border-color:#c8c7c7;
	color:#fff;
}
.button:active {
	background: url("../../image/ui/button_default.png") repeat-x center -48px;
	border-color:#c8c7c7;
	color:#4c4545;
}
.button {
	cursor:default;
	color:#8d8b8b;
	padding:3px 12px;
	font-size:13px;
	line-height:14px;
	background: #4b76a5;
	border:1px solid #dadada;
}
.butDef img,  .butSim img,  .button img {
	margin:0px;
}
.butDef:link {
	color:#8d8b8b;
}
.butDef:visited {
	color:#8d8b8b;
}
.butDef:hover {
	background: #6ea3dd;
	border-color:#c8c7c7;
}
.butDef:active {
	background: #b8b7b8;
	border-color:#c8c7c7;
	color:#4c4545;
}
.butDef {
	cursor:default;
	color:#fff;
	height:25px;
	padding:5px 12px 4px 12px;
	font-size:13px;
	line-height:14px;
	width:auto;
	background: url("../../image/ui/button_default.png") repeat-x center 0px;
	border:1px solid #d1d1d1;
}
.butDef-small:visited {
	color:#8d8b8b;
}
.butDef-small:hover {
	background: url("../../image/ui/button_default_small.png") repeat-x center -20px;
	border-color:#c8c7c7;
	color:#727070;
}
.butDef-small:active {
	background: url("../../image/ui/button_default_small.png") repeat-x center -40px;
	border-color:#c8c7c7;
	color:#4c4545;
}
.butDef-small {
	cursor:default;
	color:#8d8b8b;
	height:20px;
	padding:2px 12px;
	font-size:13px;
	line-height:18px;
	width:auto;
	background: url("../../image/ui/button_default_small.png") repeat-x center 0px;
	border:1px solid #dadada;
}
.butDef-small span {
	padding:0px;
	float:left;
	font-size:13px;
}
.butDef span {
	padding:0px;
	float:left;
	font-size:13px;
	margin-top:-2px;
}
a.button span {
	
}
.butSim:link {
	color:#8d8b8b;
}
.butSim:visited {
	color:#8d8b8b;
}
.butSim:hover {
	cursor:pointer;
	color:#727070;
}
.butSim:active {
	color:#4c4545;
}
.butSim {
	cursor:default;
	color:#8d8b8b;
	padding:3px 8px;
	font-size:13px;
	line-height:14px;
}
.butNav {
	font-size:12px;
	line-height:12px;
	padding:1px 6px;
	color:#494949;
	text-decoration:none;
}
.butNav:link {
	color:#494949;
}
.butNav:visited {
	color:#494949;
}
.butNav:hover {
	color:black;
	background:#F5F5F5;
}
.butNav:active {
	color:#dbdbdb;
	background:#909090;
}
.butPage {
	font-size:12px;
	line-height:12px;
	padding:0 6px;
	color:white;
	background:#404040;
	text-decoration:none;
}
.barNav {
	padding:10px 0;
	/*text-align:right;*/
}
/**
	****** Form components ****************************************************************
	**/			
	
	
	.fields {
	background:#fbfbfb;
	padding:5px;
	overflow:hidden;
}
.fields h2 {
	font-size:18px;
	padding:0 5px;
	margin:5px 0 15px 0;
	border-bottom:1px solid #D3D3D3;
	color:#212121;
}
.fields p {
	padding:0;
	background:transparent;
	margin-bottom:2px;
}
.fields p p {
	font-size:10px;
	text-align:left;
	color:#D3D3D3;
	background:green;
}
.fields p.error {
	background:transparent url(../images/th_blue/bk_field_err.png) repeat-y top left;
}
.fields p.error span {
	display:inline-block;
	color:#d54e4e;
}
.fields p.error .sText {
	border-top:1px solid #d08686;
	border-left:1px solid #d08686;
	border-right:1px solid #f6e9e9;
	border-bottom:1px solid #f6e9e9;
	background:#fff8f8 url(../images/th_blue/bk_field_error.png) repeat-x top right;
}
.fields p.error label {
	color:#de4444;
}
.fields label {
	font-size:14px;
	background:transparent;
	display:inline-block;
	height:22px;
	padding-left:10px;
}
.sSelect {
	color:#817c7c;
	height:24px;
	width:150px;
	line-height:16px;
	background:white url(../images/th_blue/bk_field.png) repeat-x top right;
	padding:1px;
	border-top:1px solid #8d8e8d;
	border-left:1px solid #8d8e8d;
	border-right:1px solid #e0e1e0;
	border-bottom:1px solid #e0e1e0;
}
.sText:focus {
	border:1px solid #6CF;
}
.sTextarea {
	width:auto;
}
.tleft {
	text-align:left;
}
.tright {
	text-align:right;
}
.sep {
	margin-top:15px;
}
.tiny {
	width:52px;
}
.small {
	width:84px;
}
.large {
	width:320px;
}
input {
	width:180px;
}
.sOption,  .sCheck {
	width:auto;
}
.sText {
	color:#817c7c;
	height:18px;
	line-height:16px;
	/*background:#fff url(../images/th_blue/bk_field.png) repeat-x top right;*/
	padding:3px;
	border-top:1px solid #8d8e8d;
	border-left:1px solid #8d8e8d;
	border-right:1px solid #e0e1e0;
	border-bottom:1px solid #e0e1e0;
}

/*icons*/
a .ui-icon{ margin: 0 5px 0 0;
position: absolute;
left: .2em;
top: 50%;
margin-top: -8px;}
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; margin-right:4px; background-image: url(../images/th_blue/icons_color_16.png);}
.ui-widget-content .ui-icon {background-image: url(../images/th_blue/icons_black.png); }
.ui-widget-header .ui-icon {background-image: url(../images/th_blue/icons_white.png); }
.ui-state-default .ui-icon { background-image: url(../images/th_blue/icons_black.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/th_blue/icons_white.png); }
.ui-state-active .ui-icon {background-image: url(../images/th_blue/icons_white.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/th_blue/icons_black.png); }
.meta .ui-icon {
	background-image:url('../images/th_blue/icons_black.png');
}

.ui-icon-stop { background-position: 0 0; }
.ui-icon-refresh { background-position: -16px 0; }
.ui-icon-money { background-position: -32px 0; }
.ui-icon-home { background-position: -48px 0; }
.ui-icon-information { background-position: -64px 0; }
.ui-icon-image-add { background-position: -80px 0; }
.ui-icon-clock { background-position: -96px 0; }
.ui-icon-calc { background-position: -112px 0; }
.ui-icon-comment { background-position: -128px 0; }
.ui-icon-add { background-position: -144px 0; }
.ui-icon-disable { background-position: 0 -16px; }
.ui-icon-rss { background-position: -16px -16px; }
.ui-icon-cloud { background-position: -32px -16px; }
.ui-icon-file { background-position: -48px -16px; }
.ui-icon-file-add { background-position: -64px -16px; }
.ui-icon-alert { background-position: -80px -16px; }
.ui-icon-leave { background-position: -96px -16px; }
.ui-icon-alert2 { background-position: -112px -16px; }
.ui-icon-right { background-position: -128px -16px; }
.ui-icon-db { background-position: -144px -16px; }
.ui-icon-at { background-position: 0 -32px; }
.ui-icon-folder { background-position: -16px -32px; }
.ui-icon-box { background-position: -32px -32px; }
.ui-icon-contact { background-position: -48px -32px; }
.ui-icon-chart { background-position: -64px -32px; }
.ui-icon-print { background-position: -80px -32px; }
.ui-icon-report { background-position: -96px -32px; }
.ui-icon-download { background-position: -112px -32px; }
.ui-icon-camera { background-position: -128px -32px; }
.ui-icon-chart2 { background-position: -144px -32px; }
.ui-icon-member-add { background-position: 0 -48px; }
.ui-icon-order { background-position: -16px -48px; }
.ui-icon-setting { background-position: -32px -48px; }
.ui-icon-edit { background-position: -48px -48px; }
.ui-icon-next { background-position: -64px -48px; }
.ui-icon-prev { background-position: -80px -48px; }
.ui-icon-hand { background-position: -96px -48px; }
.ui-icon-hammer { background-position: -112px -48px; }
.ui-icon-list { background-position: -128px -48px; }
.ui-icon-calendar-task { background-position: -144px -48px; }
.ui-icon-star { background-position: 0 -64px; }
.ui-icon-attr { background-position: -16px -64px; }
.ui-icon-save { background-position: -32px -64px; }
.ui-icon-copy { background-position: -48px -64px; }
.ui-icon-search { background-position: -64px -64px; }
.ui-icon-delete { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-CRM { background-position: 0 -80px; }
.ui-icon-GLKJ { background-position: -16px -80px; }
.ui-icon-ZJGL { background-position: -32px -80px; }
.ui-icon-HR { background-position: -48px -80px; }
.ui-icon-KCGL { background-position: -64px -80px; }
.ui-icon-XSYFX { background-position: -80px -80px; }
.ui-icon-ZLGL { background-position: -96px -80px; }
.ui-icon-SCGL { background-position: -112px -80px; }
.ui-icon-ZCGL { background-position: -128px -80px; }
.ui-icon-CWKJ { background-position: -144px -80px; }
.ui-icon-print { background-position: -160px -80px; }
.ui-icon-trash { background-position: -176px -80px; }
.ui-icon-locked { background-position: -192px -80px; }
.ui-icon-unlocked { background-position: -208px -80px; }
.ui-icon-bookmark { background-position: -224px -80px; }
.ui-icon-tag { background-position: -240px -80px; }
.ui-icon-SYFX { background-position: 0 -96px; }
.ui-icon-JCSJGL { background-position: -16px -96px; }
.ui-icon-XTPT { background-position: -32px -96px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }